.header {
    background: #505CBE;
    color: #fff;
    padding-top: 24px;

    &__ttl {
        text-align: center;
    }

    &__button {
        position: absolute;
        top: 32px;
        right: 24px;
    }

    &__line1 {
        height: 2px;
        width: 20px;
        background: #fff;
    }

    &__line2 {
        @extend .header__line1;
        transform: translateY(-2px) rotate(-90deg);
    }
}

.gnav {
    margin: 30px 24px 0;
    padding-bottom: 12px;
    font-size: 14px;

    &__list {
        display: flex;
        justify-content: space-between;
    }
}

.task {

    &__list li {
        background: #E38D79;
        color: #fff;
        width: 90%;
        height: 46px;
        margin: 20px auto;
        border-radius: 5px;
        padding: 10px 20px;
        
    }
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: .6;

    &__wrap {
        background: #fff;
        border-radius: 12px;
        height: 250px;
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 20px;
        font-size: 14px;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__value {
        margin-bottom: 12px;
        border: none;

        &:first-of-type {
            height: 38px;
        }
    }

    &__select {
        margin-bottom: 12px;
        border: none;
        width: 100.5%;
        margin: 0 0 24px -3px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__submit {
        background: #505CBE;
        color: #fff;
        border: none;
        height: 32px;
        width: 45%;
        border-radius: 6px;
    }

    &__erase {
        @extend .modal__submit;
        background: #be505f;
    }
}